extends layout

block menu-options
	li(class='active')
		a(href="/")|Home
	li
		a(href="/list")|Lists

block content
	h1= title
	p Welcome to #{title} We aim to help simplify your life with organization! We make creating lists simple and fun!

	h2 Organization Matters
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec egestas velit. Aliquam bibendum ex libero, ut luctus tellus imperdiet vitae. Cras interdum ipsum nec neque mattis interdum. Sed eu massa consequat, cursus risus ut, malesuada enim. Duis sed diam a augue ullamcorper consectetur non id odio. Suspendisse potenti. Suspendisse mi lorem, condimentum non urna vitae, bibendum convallis ex. Ut quam lorem, auctor in finibus ac, viverra quis nisi. Nam arcu ligula, feugiat lacinia purus sed, pulvinar sodales enim. Aliquam turpis orci, congue eu mauris quis, consequat sollicitudin sem. Aliquam dictum neque id sapien venenatis tempor.
	p Curabitur mollis in tortor eget eleifend. In consectetur magna at sapien condimentum, in egestas arcu elementum. Donec laoreet sagittis ex, pretium mollis orci malesuada sit amet. Aliquam mollis posuere nulla eu malesuada. Etiam vel massa blandit, suscipit nibh nec, vulputate quam. Fusce mattis accumsan nulla quis luctus. Donec tempor ante at aliquam malesuada.

	h2 Lists Are Fun For the Whole Family!
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec egestas velit. Aliquam bibendum ex libero, ut luctus tellus imperdiet vitae. Cras interdum ipsum nec neque mattis interdum. Sed eu massa consequat, cursus risus ut, malesuada enim. Duis sed diam a augue ullamcorper consectetur non id odio. Suspendisse potenti. Suspendisse mi lorem, condimentum non urna vitae, bibendum convallis ex. Ut quam lorem, auctor in finibus ac, viverra quis nisi. Nam arcu ligula, feugiat lacinia purus sed, pulvinar sodales enim. Aliquam turpis orci, congue eu mauris quis, consequat sollicitudin sem. Aliquam dictum neque id sapien venenatis tempor.
	p Curabitur mollis in tortor eget eleifend. In consectetur magna at sapien condimentum, in egestas arcu elementum. Donec laoreet sagittis ex, pretium mollis orci malesuada sit amet. Aliquam mollis posuere nulla eu malesuada. Etiam vel massa blandit, suscipit nibh nec, vulputate quam. Fusce mattis accumsan nulla quis luctus. Donec tempor ante at aliquam malesuada.

	h2 Make a List Today!
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec egestas velit. Aliquam bibendum ex libero, ut luctus tellus imperdiet vitae. Cras interdum ipsum nec neque mattis interdum. Sed eu massa consequat, cursus risus ut, malesuada enim. Duis sed diam a augue ullamcorper consectetur non id odio. Suspendisse potenti. Suspendisse mi lorem, condimentum non urna vitae, bibendum convallis ex. Ut quam lorem, auctor in finibus ac, viverra quis nisi. Nam arcu ligula, feugiat lacinia purus sed, pulvinar sodales enim. Aliquam turpis orci, congue eu mauris quis, consequat sollicitudin sem. Aliquam dictum neque id sapien venenatis tempor.
	p Curabitur mollis in tortor eget eleifend. In consectetur magna at sapien condimentum, in egestas arcu elementum. Donec laoreet sagittis ex, pretium mollis orci malesuada sit amet. Aliquam mollis posuere nulla eu malesuada. Etiam vel massa blandit, suscipit nibh nec, vulputate quam. Fusce mattis accumsan nulla quis luctus. Donec tempor ante at aliquam malesuada.