doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/vendor/foundation.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		block styles
	body
		section#navbar
			div.top-bar
				div.row
					div.top-bar-left
						ul.menu
							li.menu-text
								a(href='/')|ListMaster 4000
					div.top-bar-right
						ul.menu
							block menu-options
		block sub-navbar
		section(id='content')
			block content
		section(id='footer')
			div(class='row')
				ul(class='menu')
					li
						a(href="#")|About
					li
						a(href="#")|Contact
					li
						a(href="#")|FAQ
					li
						a(href="#")|Blog
		script(src='/javascripts/vendor/jquery.js')
		script(src='/javascripts/vendor/what-input.js')
		script(src='/javascripts/vendor/foundation.min.js')
		script(src='/javascripts/vendor/knockout.min.js')
		block scripts
	