doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/vendor/foundation.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		block styles
	body
		section(id='navbar')
			div(class='top-bar')
				div(class='row')
					div(class='top-bar-left')
						ul(class='menu')
							li(class='menu-text')|ListMaster 4000
							block menu-options
		block sub-navbar
		section(id='content')
			block content
		section(id='footer')
			div(class='row')
				ul(class='menu')
					li
						a(href="#")|About
					li
						a(href="#")|Contact
					li
						a(href="#")|FAQ
					li
						a(href="#")|Blog
		script(src='/javascripts/vendor/jquery.js')
		script(src='/javascripts/vendor/what-input.js')
		script(src='/javascripts/vendor/foundation.min.js')
		script(src='/javascripts/vendor/knockout.min.js')
		block scripts
	