body {
  color: #545f54;
  background-color: #545f54
}

h2 {
  border-bottom: 2px solid #2199e8;
}

section#navbar,
section#sub-navbar {
  color: #fafafa;
  position: fixed;
  height: 54px;
  width: 100%;
}

section#navbar {
  top: 0;
  left: 0;
}

section#sub-navbar {
  top: 54px;
  left: 0;
}

section#navbar .top-bar,
section#navbar .top-bar ul {
  background-color: #545f54;
}

section#sub-navbar .top-bar,
section#sub-navbar .top-bar ul {
  background-color: #606c60;
}

section#content {
  padding: 1em;
  background-color: #fafafa;
  margin-top: 54px;
  margin-bottom: 40px;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}

section#sub-navbar + section#content {
  margin-top: 108px;
} 

section#footer {
  background-color: #545f54;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
}

.row {
  max-width: 80em!important;
}