extends layout
block submenu-options
	li.active
		a(href='/list')|View Lists
	li
		a(href='/list/create')|Create List
block content
	div#responseContainer
		div.row#response(style='display: none;')
			div.warning.callout(data-closable)
				h5 Confirm Delete
				p#responseMsg
				div.button-group
					a.button.secondary(data-close) Cancel
					a.button.alert(data-bind='click: deleteList', data-close) Delete
				button.close-button(aria-label='Dismiss Alert' type='button' data-close)
					span(aria-hidden='true') &times;
	h1= title
	hr.listBreak
	ul.items(data-bind='foreach: observableLists')
		li(data-bind='click: editList')
			a.button.alert(data-bind='click: confirmDeleteList, clickBubble: false') Delete List
			span(data-bind='text: title')
	div(data-bind='if: observableLists().length == 0')
		h3.info You have no lists. Click 'Create List' in the navbar to get organizing!
			
block scripts
	script.
		const lists = [ #{list} ];
		function editListPage(id) {
			window.location.href = '/list/edit/' + id;
		}
		function deleteListPage(id) {
			$.ajax({
				type: 'POST',
				url: '/list/api/delete',
				data: { id }
			});
		}
		function askForConfirmation(data, list) {
			const message = 'Would you really like to delete the list: ' + list.title + '?';
			$('#responseMsg').text(message);
			$('#response').show();
		}
	script(src='/javascripts/lists.js')