extends ../layout

block menu-options
	li
		a(href='/')|Home
	li.active
		a(href='/list')|Lists

block sub-navbar
	section(id='sub-navbar')
		div.row
			div.top-bar
				div.top-bar-left
					ul.menu
						li
							a(href='/list/create')|Create List

block content 
	h1= title
	//- p #{list[0]._id}
	case list.length
		when 0
			h3.info You haven't made any lists yet. Click 'Create List' in the navbar to get organizing!
		default
			ul.items(data-bind='foreach: observableLists')
				li(data-bind='click: editList')
					span(data-bind='text: title')
					a.button.alert.expand(data-bind='click: deleteList') Delete List

								//- ul.items
								//- 	for item in list
								//- 		li(data-bind='click: editList', id=item._id)= item.title
			

block scripts
	script.
		const lists = [ #{list} ];
		function editListPage(id) {
			window.location.href = '/list/edit/' + id;
		}
		function deleteListPage(id) {
			$.ajax({
				type: 'POST',
				url: '/list/api/delete',
				data: { id }
			});
		}
	script(src='/javascripts/lists.js')