extends ../layout

block menu-options
	li
		a(href="/")|Home
	li(class='active')
		a(href="/list")|Lists

block sub-navbar
	section(id='sub-navbar')
		div(class='top-bar')
			div(class='row')
				div(class='top-bar-left')
					ul(class='menu')
						li
							a(href="/list/create")|Create List

block content 
	h1= title
	p Welcome to #{title}